.App {
  text-align: center;
  background-color: #fff;
}

.Gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card {
  margin: 1rem;
  border-radius: 0.3rem;
  padding: 0.3rem;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
